pkgbase = python-jax-rocm
	pkgdesc = XLA library for JAX (jaxlib for ROCM)
	pkgver = 0.4.29
	pkgrel = 1
	url = https://github.com/google/jax
	arch = x86_64
	groups = jax
	license = Apache
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	makedepends = bazel
	makedepends = miopen
	makedepends = rccl
	makedepends = rocm-hip-sdk
	depends = python-absl
	depends = python-flatbuffers
	depends = python-ml-dtypes
	depends = python-numpy
	depends = python-scipy
	depends = miopen
	depends = rccl
	depends = rocm-hip-runtime
	provides = python-jaxlib=0.4.29
	conflicts = python-jaxlib
	source = jax-jaxlib-v0.4.29.tar.gz::https://github.com/google/jax/archive/refs/tags/jaxlib-v0.4.29.tar.gz
	source = xla-rocm-jaxlib-v0.4.29.tar.gz::https://github.com/ROCmSoftwarePlatform/xla/archive/refs/heads/rocm-jaxlib-v0.4.29.tar.gz
	sha256sums = 3a8005f4f62d35a5aad7e3dbd596890b47c81cc6e34fcfe3dcb93b3ca7cb1246
	sha256sums = 13338dd20f67ca0a83894a24f2dc9ef772c9ceee8abfbdc68bdeb4f771065748

pkgname = python-jax-rocm
