pkgbase = python-jax-rocm
	pkgdesc = XLA library for JAX (jaxlib for ROCM)
	pkgver = 0.4.30
	pkgrel = 1
	url = https://github.com/google/jax
	arch = x86_64
	groups = jax
	license = Apache
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	makedepends = bazel
	makedepends = miopen
	makedepends = rccl
	makedepends = rocm-hip-sdk
	depends = python-absl
	depends = python-flatbuffers
	depends = python-ml-dtypes
	depends = python-numpy
	depends = python-scipy
	depends = miopen
	depends = rccl
	depends = rocm-hip-runtime
	provides = python-jaxlib=0.4.30
	conflicts = python-jaxlib
	source = jax-jaxlib-v0.4.30.tar.gz::https://github.com/google/jax/archive/refs/tags/jaxlib-v0.4.30.tar.gz
	source = xla-rocm-jaxlib-v0.4.30.tar.gz::https://github.com/ROCmSoftwarePlatform/xla/archive/refs/heads/rocm-jaxlib-v0.4.30.tar.gz
	sha256sums = 0ef9635c734d9bbb44fcc87df4f1c3ccce1cfcfd243572c80d36fcdf826fe1e6
	sha256sums = fd0f4d49247cca05cfef5bd37180b6f84aadef6a098abed83b1572496515513b

pkgname = python-jax-rocm
