pkgbase = python-jaxlib-rocm
	pkgdesc = XLA library for JAX (jaxlib for ROCM)
	pkgver = 0.4.16
	pkgrel = 1
	url = https://github.com/google/jax
	arch = x86_64
	groups = jax
	license = Apache
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	makedepends = bazel
	makedepends = miopen
	makedepends = rccl
	makedepends = rocm-hip-sdk
	depends = python-absl
	depends = python-flatbuffers
	depends = python-ml-dtypes
	depends = python-numpy
	depends = python-scipy
	depends = miopen
	depends = rccl
	depends = rocm-hip-runtime
	provides = python-jaxlib=0.4.16
	conflicts = python-jaxlib
	source = jax-jaxlib-v0.4.16.tar.gz::https://github.com/google/jax/archive/refs/tags/jaxlib-v0.4.16.tar.gz
	source = xla-rocm-jaxlib-v0.4.16.tar.gz::https://github.com/ROCmSoftwarePlatform/xla/archive/refs/heads/rocm-jaxlib-v0.4.16.tar.gz
	sha256sums = 85c8bc050abe0a2cf62e8cfc7edb4904dd3807924b5714ec6277f291c576b5ca
	sha256sums = c9bffb5801020bceab1b13220eeb3619aaf678b0df390417aae33c4c064bed16

pkgname = python-jaxlib-rocm
